@import "tailwindcss";

  /* latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400 900;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v37/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes slideInCurtain {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutCurtain {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .animate-slide-in-curtain {
    animation: slideInCurtain 1s forwards;
  }
  
  .animate-slide-out-curtain {
    animation: slideOutCurtain 1s forwards;
  }

  .curtain-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .normal-text {
    transition: transform 0.2s ease-in-out;
    position: relative;
    z-index: 1;
  }
  
  .hover-text {
    transition: transform 0.2s ease-in-out;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    z-index: 2;
  }
  
  /* Dessa regler tvingar om transformationen vid hover */
  .curtain-link:hover .hover-text {
    transform: translateY(0) !important;
  }
  .curtain-link:hover .normal-text {
    transform: translateY(-100%) !important;
  }
  
  